<main>
    <div class="profile-author">
        <h2>Tentang Penulis</h2>
        <div class="description">
            <h3>Muhammad Fahrul</h3>
            <p>Mahasiswa Universitas Islam Negeri Mataram</p>
        </div>
    </div>
</main>