<main>
    <h2>Materi Belajar Bahasa Arab</h2>
    <p>kumpulan materi bahasa arab</p>
    <section>
        <p>Bahasa Arab adalah salah satu bahasa asing yang mempunyai tempat istimewa di Indonesia. Sejak kecil orang tua
            kita sudah menyuruh belajar membaca Al-Qur'an (yang berbahasa Arab). Bahkan sebagian masyarakat kita lebih
            dahulu bisa membaca Al-Qur'an daripada menguasai Bahasa Indonesia. Hal ini mungkin karena mayoritas penduduk
            Indonesia beragama Islam, dan sumber belajar agama Islam mayoritas berbahasa Arab.Sehingga ada tuntutan
            untuk
            lebih menguasai Bahasa Arab dibanding bahasa asing lain.</p>
        <p>

            Harus kita akui bahwa Bahasa Arab adalah bahasa yang rumit. Banyak aspek yang sangat berbeda dibandingkan
            bahasa
            ibu kita. Intonasi, Tata Bahasa, Tulisan dan Strukturnya sangat jauh berbeda. Sehingga banyak orang
            Indonesia
            yang merasa sulit belajar Bahasa Arab. Di samping itu, sumber belajar Bahasa Arab yang sistematis masih
            jarang
            kita temui. Sumber belajar Bahasa Arab saat ini berupa "Kitab Kuning" yang seluruhnya berbahasa Arab dan
            tidak
            berharokat pula. Bagi orang awam yang ingin belajar Bahasa Arab tentu ini menjadi "momok" tersendiri. </p>

        <p>Semoga Aplikasi ini dapat membantu teman-teman dalam mempelajari bahasa Arab dengan mudah.</p>
    </section>
</main>