<section class="container">
    <h1><%- el.cabang %></h1>
    <article class="pembahasan">
        <% pembahasan.forEach(el => { %>
        <p><%- el %> </p>
        <!-- <p><%- el %> </p> -->
        <% }) %>
        <!-- <p class="example">example</p> -->
    </article>
</section>